body {
    background-image: url(../images/blueLightsBackground.jpg);
    background-repeat: repeat-x;
    text-align:center;
}

h1 { 
    background-color: #a054eb;
    color:burlywood
}

.instructionsBox {
    background-color: lightseagreen;
    color: darkgreen;
    float: left;
    width: 26%;

}

.images {
    display: flex;
   flex-direction:row;
    flex-flow: row wrap;
}