body {
    background-image: url(../images/blueLightsBackground.jpg);
    background-repeat: repeat-x;
    text-align:center;
}

.pageHeader { 
    background-color: #a054eb;
    color:burlywood;
}

.instructionsBox {
    background-color: lightseagreen;
    color: darkgreen;
    float: left;
    width: 26%;

}

.scoreboard {
    border: 15px greenyellow;
    color: lightgreen;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

    margin-left: 410px;
    margin-bottom: 10%;
    
}

#scoreboardTitle {
background-color: lightblue;
width: 770px;
margin-left: 400px;
color: lightgreen;
text-shadow: 
-1px -1px 0 #000,  
1px -1px 0 #000,
-1px 1px 0 #000,
 1px 1px 0 #000;


}